<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Todo Lists </title>
</head>

<body>
    <main>
        <div>
            <h1> My lists </h1>
            <table>
                <tr>
                    <th> Name </th>
                    <th> Number of items </th>
                </tr>
                <tbody>
                    {% for list in todos %}
                    <tr>
                        <td> {{ list.name }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
